@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100&display=swap');


*{
    margin: 0px;
    padding: 0px;
   
    box-sizing: border-box;
    font-family: 'Barlow';
}

.container{
    max-width: 1125px;
    margin: 0 auto;
}



.nav{
    display: flex;
    margin-top:40px;
    justify-content: space-between;
}

#order_button{
    padding: 15px 15px 15px 15px;
    text-transform: uppercase;
    background-color: #e8eff2;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color:rgba(22, 37, 66, 1);
    font-weight: 900;
    outline: none;
}

#order_button:hover{
    background-color: #162542;
    color:white;
    font-weight: 800;
    cursor: pointer;
}


.mainContent{
    margin-top:80px ;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
}

.sub_content{
    margin-top:30px;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    height: 480;
    gap: 50px;
    border-radius: 20px;
}

.sub_content_typo{
  
    margin-left: 30px;
    margin-top: 100px;
}

#content_title{
    text-transform: uppercase;
    font-size: 32px;
    color:#162542;
    width: 85px;
}

#content_description{
    margin-top:50px;
    line-height: 26px;
    font-size:16px;
    font-weight: 300;
    color:#7b8bad;

}

#mechanical_description{
 position: relative;
 top:35px;
 line-height: 24.3px;
 color:#7b8bad;
}
.typo{
    position: relative;
    top:2.5rem;
}


#title{
    text-transform: uppercase;
    font-size: 56px;
    
    font-weight: 800;
    color:#162542;
    font-family:'Barlow'sans-serif;
}

#description{
    line-height: 25.3px;
    color:#7b8bad;
    margin-top:30px;
    font-family: 'Barlow',sans-serif;
    font-size: 20px;
    font-weight: 450;
}
.capitalize{
    text-transform: uppercase;
    font-size: 20px;
    color:#162542;
}

.title_computer{

    font-size: 30px !important;
    color:#162542 !important;
}

#keyboard_image_desktop{
    width: 540px;
    height: 400px;
    border-radius: 30px;
    position: relative;
    left: 15px;
    
}

.overlay{
    width:225px;
    height: 480px;
    border-radius: 20px;
    background-color:#d3470b;
}

.button_link{
    margin-top:30px;
}

#btn_order{
    padding: 20px 15px 15px 20px;
    text-transform: uppercase;
    background-color: rgb(241, 103, 24);
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color:#fff;
    font-weight: 900;
    outline: none;
}

#btn_order:hover{
    color:white;
    background-color: #ff9b62;
    font-weight: 800;
    cursor: pointer;
}

a{
    text-transform: uppercase;
    color:#7b8bad;
    text-decoration: none;
    font-weight: 800;
    margin-left: 50px;
    font-size: 17px;
}

#phone-and-keyboard{
    width:225px;
    height: 480px;
    border-radius: 20px;
    opacity: 0.3;
}

#glass-and-keyboard{
    width:445px;
    height: 480;
    border-radius: 20px;
}



.information{
    margin-top:3rem;       
    display: flex;
}


#computer_svg{
    background-color: rgb(241, 103, 24);
    padding:25px 25px 25px 25px;
    border-radius: 10px;
    margin-bottom:30px;
    
}

#bulb_svg{
    background-color: rgb(241, 103, 24);
    padding:20px 25px 20px 25px;
    border-radius: 10px;
    margin-bottom:30px;
}

#bluetooth_svg{
    background-color: rgb(241, 103, 24);
    padding:20px 28px 25px 28px;
    border-radius: 10px;
    margin-bottom:30px;
}


.title_computer{
    text-transform: uppercase;
    font-size:24px;
    font-weight: 800;
    margin-bottom:5px;
    line-height: 34.6px;
    color:rgba(22, 37, 66, 1);
}

#content_description{
    font-weight: 500;
    font-size:18px;
    color:#7b8bad;
    line-height: 24.6px;
    position: relative;
    top:-20px;
}

.content{
    margin-right:20px;
}

.sub-battery_text{
    text-transform: uppercase;
}

footer{
    text-align: center;
    font-size:18px;
    margin-bottom: 50px;
    color: #7b8bad;
}

span{
    font-weight: 800;
}


#right_paper{
    position: absolute;
    top:11rem;
    width: 63.5px;
    left:80.5rem;
    height: 30vh;
    
}
#mechanical_description{
    font-weight: 410;
    font-size: 18px;
    line-height: 26px;
}

#left_paper{
    width:75px;
    height: 30vh;
    width:63px;
    position: relative;
    top:-39rem;
    left:-7rem;
    }
    
    
    

    /* desktop-screen  */
    /* ______________ */
    
    @media (max-width:1200px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .container{
        max-width: 900px;
        margin: 0 auto;
    }


    .content{
        margin-left: 1rem;
        /* align-items: center; */
    }
   

    #right_paper{
      position: absolute;
      left:63.8rem;
      width: 85px;
      height: 35vh;
      border-radius: 5px;
    }
    #left_paper{
        width: 85px;
        position:relative;
        top: -40.8rem;
        height: 35vh;
    }

    #content_description{
        width: 285px;
    }
    #glass-and-keyboard{
        width: 400px;
        height: 400px;
       position: relative;
       left: -15px;
    }
    #keyboard_image_desktop{
        width: 400px;
        
        position: relative;
        left: -5px;
     
    }

    #phone-and-keyboard{
        height: 400px;
        width:200px ;
        
    }

    .overlay{
        width:200px ;
        height: 400px;
       
    }
    #description{
        
        position: relative;
        top: -13px;
    }

    .button_link{
        margin-top:10px;
    }


    .sub_content_typo{

        margin-left: -20px;
        position: relative;
        top:-35px;

    }


/* 
    #bluetooth_svg{
        position: relative;
        left:0.5rem;
        width: 65px;
        border-radius: 15px;
    } */


    /* #bulb_svg{
        position: relative;
        left:0.5rem;
        width: 70px;
        border-radius: 15px;
    } */


    #content_description{
      width: 205px; 
      position: relative;
      top:-35px;  
    }

    #mechanical_description{
        width: 235px; 
        position: relative;
        top:15px;  
      }

    .bluetooth_txt{
        position: relative;
        top:-3px;
    }
}





/* mobile
_______ */

@media  (min-width:270px) and (max-width:570px){

    
    .container{
        max-width: 420px;
        margin: 0 auto;
    }

    /* .nav{
        margin-right: 50px;
        margin-left: 20px;
    } */

    #btn_order{
        padding: 13px 13px 13px 13px;
        font-size:16px;
    }

    #order_button{
        padding: 13px 13px 13px 13px;
        text-transform: uppercase;
        background-color: #e8eff2;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        color:rgba(22, 37, 66, 1);
        font-weight: 900;
        outline: none;
    }
    
  
   
    .mainContent{
        display: grid;
        grid-template-columns: 1fr;
        
    }

  
   
  .typo{
      position: relative;
      top:13px;
  }
    #title{
 
        font-size:55px;
        font-weight:bolder;
        line-height: 55px;
    }

    #description{
        width:100%;
        margin-right:30px;
        font-size:18px;
        font-weight: 430;
    }

    #keyboard_image_desktop{
        width: 450px;
        height:350px;
        position: relative;
        top:-50px;
        left:2px;
        object-fit: cover;
        border-top-right-radius: 0.5px !important;
        border-bottom-right-radius:0.5px;
    }

    .sub_content{
        margin-top:5px;
        display: grid;
        position: relative;
      
        grid-template-columns: 1fr 1fr;
    }

    #phone-and-keyboard{
     width:170px;
     height: 225px;
     object-fit: cover;
     border-top-left-radius: 0.5px !important;
     border-bottom-left-radius: 0.5px !important;
    }

    .overlay{
        width:170px;
        height: 225px;
        border-top-left-radius: 0.5px;
        border-bottom-left-radius: 0.5px;
        position: relative;
        left: -2.3rem;
    }

    #glass-and-keyboard{
        width: 250px;
        height: 225px;
        position: relative;
        left: -15rem;
    }

    .button_link{
        margin-bottom: 80px;
    }

    #content_title{
        font-size: 36px;
        color: #162542;
        font-weight: 800;
        margin-left: 30px;
    }

    #content_description{
        width: 450px;
        margin-left:5px;
        margin-right: 10px;
        position: relative;
        left: -5.5rem;
    }

    .information{
        display: grid;
        flex-direction: column;
        /* align-items: center; */
    }

    .content{
        margin-left: 5rem;
        /* align-items: center; */
    }

    #right_paper{
        display: none;
    }

    #left_paper{
        display: none;
    }

    #computer_svg{
        position: relative;
        left: 5rem;
    }

    #bulb_svg{
        position: relative;
        left: 5rem;
    }


    #bluetooth_svg{
        position: relative;
        left: 5rem;
    }

    .title_computer{
        position: relative;
        left: 4.35rem;
        font-size: 25px;
    }

    .capacity_txt{
       position: relative !important;
       font-size: 25px;
       text-transform: uppercase;
       left:2.3rem; 
    }


    .bluetooth_txt{
        position: relative !important;
        font-size: 25px;
        text-transform: uppercase;
        left:1.5rem; 
    }

    .title_battery{
        position: relative;
        left: 1.5rem;
        font-size: 25px;
        text-transform: uppercase;
    }

    .sub_battery_text{
        text-transform: uppercase;
        position: relative;
        left: 5rem;
    }

    .title_backlit{
        text-transform: uppercase;
        position: relative;
        left: 50px;
    }

    .txt_mode{
        text-transform: uppercase;
        position: relative;
        left: 90px;
    }

    footer{
        margin-top: 5rem;
    }

    .sub_content_typo{
        position: relative;
        left: 85px;
    }

    #mechanical_description{
        width: 385px;
        position: relative;
        left:-55px;
    }

   .bluetooth_txt{
       font-size: 25px;
       font-family: 'Barlow';
       margin-left: 10px;
       font-weight: 900;
   }

   .title_computer{
    font-size: 27px !important;
    font-family: 'Barlow' !important;
   
    font-weight: 900;
   }

   .title_battery{
       
       font-size:27px;
       margin-left: 20px;
   }

   .sub_battery_text{
       
       font-size:27px;
   }

   .capacity_txt{
       /* font-weight: 300 !important; */
       font-size: 25px;
       position: relative;
       left: 45px;
   }
 
}
